<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" class="js"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout.html}">

      <div layout:fragment="content" class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card p-0">
                  <h6 class="card-title card-padding pb-0">Data Poli HIV</h6>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="text-left">No Register Sistem</th>
                          <th class="text-left">No Rekam Medis</th>
                          <th>NIK</th>
                          <th>No Register</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="d : ${data}">
                          <td class="text-left">[[${d.id}]]</td>
                          <td class="text-left">[[${d.noRekamMedis}]]</td>
                          <td>[[${d.nik}]]</td>
                          <td>[[${d.noRegister}]]</td>
                          <td>
                            <a target="_blank" th:href="@{'/poli-hiv/export/'+${d.id}}">Export</a><br/><br/>
                            <a target="_blank" th:href="@{'/poli-hiv/download/'+${d.id}}">Download Form Lab</a><br/><br/>
                            <a th:href="@{'/poli-hiv/edit/'+${d.id}}">Edit</a><br/><br/>
                            <a th:href="@{'/poli-hiv/delete/'+${d.id}}">Delete</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!-- partial:../../partials/_footer.html -->
        <footer>
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                <span class="text-center text-sm-left d-block d-sm-inline-block tx-14">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">bootstrapdash.com </a>2020</span>
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop d-flex justify-content-end">
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center tx-14">Free <a href="https://www.bootstrapdash.com/material-design-dashboard/" target="_blank"> material admin </a> dashboards from Bootstrapdash.com</span>
              </div>
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>

</html>