<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" class="js"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout.html}">
<form method="post" action="/poli-hiv/view" layout:fragment="content">

        <script th:inline="javascript">
            var registerId = /*[[${registerId}]]*/ null;
            if(registerId != null) {
                alert("Berhasil daftar Poli HIV, harap catat nomor registrasi anda : " + registerId);
            }
        </script>
        <div class="col-lg-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Lihat Poli HIV</h4>
                    <div class="mt-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="mdc-layout-grid__inner">
                                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                        <div class="mdc-text-field  mdc-text-field--outlined">
                                            <input class="mdc-text-field__input" id="noRegister" name="noRegister">
                                            <div class="mdc-notched-outline">
                                                <div class="mdc-notched-outline__leading"></div>
                                                <div class="mdc-notched-outline__notch">
                                                    <label class="mdc-floating-label" for="noRegister">No Register</label>
                                                </div>
                                                <div class="mdc-notched-outline__trailing"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="mdc-layout-grid__inner">
                        <button type="submit" class="mdc-button mdc-button--raised mdc-ripple-upgraded">
                            Edit
                        </button>
                        <a onclick="downloadFormLab()" class="mdc-button mdc-button--raised filled-button--secondary mdc-ripple-upgraded">
                            Form Lab
                        </a>
                        <a href="/" class="mdc-button mdc-button--raised filled-button--secondary mdc-ripple-upgraded">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>

    <script th:inline="javascript">
        function downloadFormLab(){
            var noRegister = $("#noRegister").val();
            window.open('/poli-hiv/download/'+noRegister, '_blank');
        }
    </script>
    </form>
</html>