<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org" class="js"
	  xmlns:sec="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{fragments/layout.html}">

	<div layout:fragment="content" class="page-wrapper mdc-toolbar-fixed-adjust">
			<main class="content-wrapper">
				<div class="mdc-layout-grid">
					<div class="mdc-layout-grid__inner">
						<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
							<div class="mdc-card">
								<div class="d-flex justify-content-between">
									<h4 class="card-title mb-0">Selamat datang di aplikasi Poli HIV</h4>
								</div>
<!--								<div class="d-block d-sm-flex justify-content-between align-items-center">-->
<!--									<h5 class="card-sub-title mb-2 mb-sm-0">Klik tombol dibawah ini untuk mendaftar Poli HIV</h5>-->
<!--								</div>-->
<!--								<div class="mdc-layout-grid__inner mt-2">-->
<!--									<div class="mdc-layout-grid__cell mdc-layout-grid__cell&#45;&#45;span-6 mdc-layout-grid__cell&#45;&#45;span-8-tablet">-->
<!--										<div class="table-responsive">-->
<!--											<table class="table dashboard-table">-->
<!--												<tbody>-->
<!--												<tr>-->
<!--													<td>-->
<!--														<span class="flag-icon-container"><i class="flag-icon flag-icon-us mr-2"></i></span>United States</td>-->
<!--													<td>$1,671.10</td>-->
<!--													<td class=" font-weight-medium"> 39% </td>-->
<!--												</tr>-->
<!--												<tr>-->
<!--													<td> <span class="flag-icon-container"><i class="flag-icon flag-icon-ph mr-2"></i></span>Philippines	</td>-->
<!--													<td>$1,064.75</td>-->
<!--													<td class=" font-weight-medium"> 30% </td>-->
<!--												</tr>-->
<!--												<tr>-->
<!--													<td> <span class="flag-icon-container"><i class="flag-icon flag-icon-gb mr-2"></i></span>United Kingdom</td>-->
<!--													<td>$1,055.98</td>-->
<!--													<td class=" font-weight-medium"> 45% </td>-->
<!--												</tr>-->
<!--												<tr>-->
<!--													<td> <span class="flag-icon-container"><i class="flag-icon flag-icon-ca mr-2"></i></span>Canada</td>-->
<!--													<td>$1,045.49</td>-->
<!--													<td class=" font-weight-medium"> 80% </td>-->
<!--												</tr>-->
<!--												<tr>-->
<!--													<td> <span class="flag-icon-container"><i class="flag-icon flag-icon-fr mr-2"></i></span>France</td>-->
<!--													<td>$2,050.93</td>-->
<!--													<td class=" font-weight-medium"> 10% </td>-->
<!--												</tr>-->
<!--												</tbody>-->
<!--											</table>-->
<!--										</div>-->
<!--									</div>-->
<!--									<div class="mdc-layout-grid__cell mdc-layout-grid__cell&#45;&#45;span-6 mdc-layout-grid__cell&#45;&#45;span-8-tablet">-->
<!--										<div id="revenue-map" class="revenue-world-map"></div>-->
<!--									</div>-->
<!--								</div>-->
							</div>
						</div>
					</div>
				</div>
			</main>
			<!-- partial:partials/_footer.html -->
<!--			<footer>-->
<!--				<div class="mdc-layout-grid">-->
<!--					<div class="mdc-layout-grid__inner">-->
<!--						<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell&#45;&#45;span-6-desktop">-->
<!--							<span class="text-center text-sm-left d-block d-sm-inline-block tx-14">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">bootstrapdash.com </a>2020</span>-->
<!--						</div>-->
<!--						<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell&#45;&#45;span-6-desktop d-flex justify-content-end">-->
<!--							<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center tx-14">Free <a href="https://www.bootstrapdash.com/material-design-dashboard/" target="_blank"> material admin </a> dashboards from Bootstrapdash.com</span>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</footer>-->
			<!-- partial -->
		</div>
</html>