<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org" class="js"
	  xmlns:sec="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{fragments/layout.html}">

	<div layout:fragment="content">
		<!-- Standard Pricing-->
		<section class="section section-lg bg-default text-center">
			<div class="container">
				<h3 class="text-primary">Laporan Bulanan</h3>
				<div class="row justify-content-sm-center row-xl row-30">
					<div class="col-md-4">
						<div class="form-wrap form-wrap-validation">
							<input class="form-input" id="form-element-date" data-time-picker="date" name="date">
							<label class="form-label" for="form-element-date">Tanggal Mulai</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-wrap form-wrap-validation">
							<input class="form-input" id="form-element-date" data-time-picker="date" name="date">
							<label class="form-label" for="form-element-date">Tanggal Selesai</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="button button-icon button-icon-left button-secondary button-nina"><span class="icon mdi mdi-magnify"></span>Search</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Standard Pricing-->
		<section class="section section-lg bg-default text-center">
			<div class="container">
				<h3 class="text-primary">STATISTIK JUMLAH TAMU</h3>
				<div class="row justify-content-sm-center row-xl row-30">
					<!-- Pricing Box-->
					<div class="col-md-6 col-xl-3">
						<div class="pricing-box pricing-box-novi">
							<div class="pricing-box-header">
								<h4>TAMU UMUM</h4>
							</div>
							<div class="pricing-box-body">
								<div class="pricing-box-price">
									<div class="heading-2">[[${tamuUmum}]]</div>
									<h5>TAMU</h5>
								</div>
							</div>
						</div>
					</div>
					<!-- Pricing Box-->
					<div class="col-md-6 col-xl-3">
						<div class="pricing-box pricing-box-novi">
							<div class="pricing-box-header">
								<h4>TAMU KHUSUS</h4>
							</div>
							<div class="pricing-box-body">
								<div class="pricing-box-price">
									<div class="heading-2">[[${tamuKhusus}]]</div>
									<h5>TAMU</h5>
								</div>
							</div>
						</div>
					</div>
					<!-- Pricing Box-->
					<div class="col-md-6 col-xl-3">
						<div class="pricing-box pricing-box-novi">
							<div class="pricing-box-header">
								<h4>JANJI</h4>
							</div>
							<div class="pricing-box-body">
								<div class="pricing-box-price">
									<div class="heading-2">[[${janji}]]</div>
									<h5>TAMU</h5>
								</div>
							</div>
						</div>
					</div>
					<!-- Pricing Box-->
					<div class="col-md-6 col-xl-3">
						<div class="pricing-box pricing-box-novi">
							<div class="pricing-box-header">
								<h4>JUMLAH TOTAL</h4>
							</div>
							<div class="pricing-box-body">
								<div class="pricing-box-price">
									<div class="heading-2">[[${total}]]</div>
									<h5>TAMU</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</html>